<!DOCTYPE html>
<html>

<head>
    <title>加权平均分查询</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

<body>
    <div>
        <form action="/" method="POST">
            <input name="username" placeholder="学号" type="text" />
            <input name="password" placeholder="教务系统密码" type="password" />
            <input type="submit" value="确定" />
        </form>
        {{info}}
    </div>
</body>

</html>